# VITE_API_URL: The URL of the FastAPI backend.
# Default to localhost for development.
VITE_API_URL="http://localhost:8000"

# APP_URL: The URL where this frontend is hosted.
APP_URL="http://localhost:3000"
